.community-social-card-gradient {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    border-radius: 16px;
  }

  &::before {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
    opaicty: 1;
  }

  &::after {
    background-image: linear-gradient(180deg, #262626 0%, #262626 100%);
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}
