@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/ibm-plex-mono/ibm-plex-mono-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'brother-1816-fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 106.63%;
    descent-override: 33.29%;
    line-gap-override: 0%;
    size-adjust: 106.35%;
  }
}
