@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-w-[320px] bg-black font-sans text-base leading-normal text-white antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  #hubspot-messages-iframe-container {
    color-scheme: light;
  }

  .code-block-bg {
    background: linear-gradient(135deg, #16222e, #080c1a 54%, #05050b),
      radial-gradient(
        circle at 41.5% 0%,
        rgba(135, 188, 195, 0.15),
        #1e2438 49%,
        rgba(30, 36, 56, 0.5) 100%
      ),
      radial-gradient(
        circle at 22.5% 5.4%,
        #ffffff,
        #bee0ff 33.2%,
        rgba(134, 204, 255, 0.5) 50.5%,
        rgba(67, 64, 74, 0) 100%
      );
  }

  .border-linear {
    @apply border border-transparent;
    mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  .menu-btn:focus-within + .menu,
  .menu-btn:has(+ .menu button:focus-visible) + .menu {
    visibility: visible;
    opacity: 1;
  }

  .menu-btn:hover + .menu {
    visibility: visible;
    opacity: 1;
  }

  .menu:hover {
    visibility: visible;
    opacity: 1;
  }
  body:has([data-disable-document-scroll='true']) {
    @apply md:overflow-hidden;

    .code-block-bg {
      background: linear-gradient(135deg, #16222e, #080c1a 54%, #05050b),
        radial-gradient(
          circle at 41.5% 0%,
          rgba(135, 188, 195, 0.15),
          #1e2438 49%,
          rgba(30, 36, 56, 0.5) 100%
        ),
        radial-gradient(
          circle at 22.5% 5.4%,
          #ffffff,
          #bee0ff 33.2%,
          rgba(134, 204, 255, 0.5) 50.5%,
          rgba(67, 64, 74, 0) 100%
        );
    }

    .border-linear {
      @apply border border-transparent;
      mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
    }
  }

  .directory {
    ol ol {
      @apply pl-6;
    }

    ul li {
      position: relative;
      padding-left: 24px;
      font-size: 16px;

      &::before {
        content: '–';
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
      }
    }

    ul ul {
      @apply mb-2.5 mt-2.5;
    }
  }
}
