.hubspot-form-wrapper {
  @apply rounded-[20px] bg-hs-form-gradient px-9 py-10 md:p-8;
}

.hubspot-form {
  .actions {
    @apply flex items-center space-x-7 sm:flex-col sm:space-x-0 sm:space-y-5;
  }

  .hs-fieldtype-checkbox .hs-form-checkbox-display span {
    @apply inline-block leading-tight;
  }

  .submitted-message {
    @apply mx-auto;

    p {
      @apply mt-3 text-center text-lg font-light;

      strong {
        @apply text-2xl font-medium;
      }
    }
  }

  .hs-form {
    @apply space-y-7 md:space-y-5;

    fieldset {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      @apply max-w-full;

      &.form-columns-2 {
        @apply flex space-x-6;

        @screen lg {
          @apply flex flex-col space-x-0 space-y-6;
        }

        .hs-form-field {
          @screen lg {
            @apply w-full;
          }

          .input {
            @apply mr-0;
          }
        }
      }

      &.form-columns-1 {
        .hs-form-field {
          .input {
            @apply mr-0;
          }
        }
      }
    }

    .hs-error-msgs {
      @apply mt-2;

      @screen lg {
        @apply mt-1;
      }

      label {
        @apply text-xs font-normal leading-none text-secondary-1 !important;
      }
    }

    .hs_error_rollup {
      label {
        @apply hidden;
      }
    }

    .hs-form-field {
      label {
        @apply block text-base font-normal leading-snug text-gray-9;
      }

      input {
        @apply text-base leading-none;

        &.error {
          @apply border-secondary-1 !important;
        }

        &[type='text'],
        &[type='email'],
        &[type='number'],
        &[type='tel'] {
          @apply mt-2 h-12 w-full bg-gray-2 px-3 text-base leading-none !important;
          @apply appearance-none rounded border border-gray-4 outline-none transition-colors duration-200 hover:border-gray-3 focus:border-primary-1;
        }
      }

      select {
        @apply mt-2.5 h-12 w-full appearance-none bg-gray-2 bg-no-repeat px-3 text-base !important;
        @apply rounded border border-gray-4 outline-none transition-colors duration-200 hover:border-gray-3 focus:border-primary-1;
        /*background-image: url('/images/dropdown-arrow.svg');*/
        background-position-x: calc(100% - 16px);
        background-position-y: 1.25rem;

        &.is-placeholder {
          @apply text-gray-6;
        }

        &.error {
          @apply border-secondary-1 !important;
        }
      }

      textarea {
        @apply mt-2.5 min-h-[6rem] w-full appearance-none rounded border border-gray-4 bg-gray-2 px-3 py-4 text-base outline-none transition-colors duration-200 hover:border-gray-3 focus:border-primary-1 !important;
      }

      &.hs-fieldtype-checkbox {
        ul {
          @apply mt-2.5;

          &.no-list {
            @apply mt-0;
          }

          li {
            @apply mt-1.5;

            &:first-child {
              @apply mt-0;
            }

            & span {
              @apply flex min-h-[24px] items-center leading-tight;
            }
          }
        }
      }
    }

    .hs-button {
      @apply inline-flex h-12 items-center justify-center whitespace-nowrap rounded bg-transparent bg-pink-yellow-gradient px-10 text-center text-lg font-medium leading-none text-black transition-[color,background-image] duration-200 hover:cursor-pointer hover:bg-white hover:bg-none disabled:pointer-events-none disabled:bg-gray-3 disabled:text-white md:h-[54px] sm:w-full;
    }

    .hs_what_are_you_interested_in_ {
      @apply mb-1 flex flex-wrap items-center gap-x-3.5 gap-y-3 border-b border-gray-9 pb-7 sm:flex-col sm:items-start;

      & > label {
        @apply font-medium;
      }

      &.hs-fieldtype-checkbox {
        ul:not(.hs-error-msgs) {
          @apply mt-0 flex justify-between gap-x-3.5;

          @screen sm {
            @apply flex-col space-x-0 space-y-2.5;
          }

          li {
            @apply mt-0 w-full;

            @screen lg {
              @apply w-full;
            }
          }
        }

        ul.hs-error-msgs {
          @apply -mt-0.5 w-full shrink-0;
        }
      }
      .hs-form-checkbox-display {
        span {
          @apply block bg-white pl-8 text-lg font-normal leading-none transition-colors duration-200;
          &::before {
            @apply left-0;
          }
        }

        input {
          ~ span {
            @apply text-xs;
          }

          &:hover {
            ~ span::before {
              @apply !border-primary-1;
            }
          }

          &:checked {
            ~ span::before {
              @apply border-primary-1 !important;
            }
          }
        }
      }
    }
  }
}

.hs-fieldtype-checkbox {
  .hs-form-checkbox-display {
    @apply cursor-pointer;

    input {
      @apply sr-only;

      &:hover {
        ~ span::before {
          @apply border-gray-3 !important;
        }
      }

      &:checked {
        ~ span::before {
          @apply border-primary-1 bg-primary-1 bg-center bg-no-repeat !important;
          /* background-image: url('/images/check-icon.svg') !important;*/
        }
      }
    }

    span {
      &:not(.hs-form-required) {
        @apply relative pl-9;

        &::before {
          content: '';
          @apply absolute -top-0.5 left-0 block h-6 w-6 transform rounded border border-gray-4 bg-gray-2 transition-colors duration-200 !important;
        }
      }
    }
  }
}

.hs-form-booleancheckbox {
  .hs-form-booleancheckbox-display {
    @apply cursor-pointer;

    input {
      @apply sr-only;

      &:hover {
        ~ span::before {
          @apply border-gray-3 !important;
        }
      }

      &:checked {
        ~ span::before {
          @apply border-primary-1 bg-primary-1 bg-center bg-no-repeat !important;
          /* background-image: url('/icons/check-icon.svg') !important;*/
        }
      }
    }

    span {
      @apply ml-0 !important;

      &:not(.hs-form-required) {
        @apply relative pl-9;

        &::before {
          content: '';
          @apply absolute -top-0.5 left-0 block h-6 w-6 transform rounded border border-gray-4 bg-gray-2 transition-colors duration-200 !important;
        }
      }
    }
  }
}

.legal-consent-container {
  @apply space-y-5 text-sm font-light leading-snug;

  a {
    @apply font-semibold text-primary-1 transition-colors duration-200 hover:underline;

    & > span {
      @apply no-underline !important;
    }
  }

  .hs-form-booleancheckbox-display {
    p {
      @apply font-light leading-snug;

      a {
        @apply font-semibold text-primary-1 transition-colors duration-200 hover:underline;
      }
    }
  }
}
