.editor-wrapper {
  width: 100%;
  height: 100%;

  .editor-body {
    background-color: #08070e;
    border-radius: 0 0 10px 10px;
  }

  .node-button:last-child {
    margin-bottom: 0 !important;
  }

  h1,
  h2,
  h3 {
    color: #999999;
  }

  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }
  [data-type='section'] {
    margin-bottom: 20px !important;

    p {
      font-size: 16px !important;
    }
  }

  .node-image {
    &:last-child {
      margin-bottom: 0 !important;
    }

    &:after {
      background: none !important;
    }
    .mly-bg-soft-gray {
      background-color: #1f2233;

      svg {
        color: #b8bcc4;
      }

      span {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .editor-body {
    height: 100%;
    overflow-y: auto;
  }
}

.tippy-box {
  outline: none !important;

  * {
    outline: none !important;
  }
  .tippy-content {
    & > div:not(.react-renderer):not(.mly-visible) {
      background-color: #08070e;
      border: 1px solid #282d43;
      box-shadow:
        0px 2px 20px 0px #00000066,
        0px 0px 4px 0px #00000040;
      color: #ffffff !important;
      border-radius: 6px;

      * {
        box-shadow: none !important;
      }
    }

    & .mly-visible {
      svg {
        color: #999999 !important;
      }
    }

    & .react-renderer > div {
      background-color: #08070e;
      border: 1px solid #282d43;
      box-shadow:
        0px 2px 20px 0px #00000066,
        0px 0px 4px 0px #00000040;
      color: #ffffff !important;
      border-radius: 6px;

      * {
        box-shadow: none !important;
      }

      .mly-text-gray-900 {
        color: #ffffff !important;
      }

      .mly-text-gray-200 {
        color: #999999 !important;
      }

      .mly-bg-gray-100 {
        background-color: #202436 !important;
      }

      #slash-command {
        & > span {
          background-color: #131520;
          border-color: #282d43;
          color: rgba(255, 255, 255, 0.7);
        }

        & + div {
          border-color: #282d43;
          color: #999999 !important;

          kbd {
            height: 18px;
            min-width: 18px;
            padding: 0 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-color: #282d43;
          }
        }
      }
    }

    button {
      &:hover {
        background-color: #202436;
      }

      &.mly-text-rose-800 {
        color: #ffffff !important;
        background-color: #202436 !important;
      }

      &[data-state='true'] {
        background-color: #202436;
      }

      & + [data-radix-popper-content-wrapper] > div {
        background-color: #08070e;
        color: #ffffff !important;
        border-color: #282d43;
        box-shadow: none !important;
      }
    }

    .mly-bg-gray-200 {
      background-color: #282d43;
    }

    svg {
      color: #e6e6e6;

      .mly-stroke-midnight-gray {
        stroke: #e6e6e6;
      }
    }

    select {
      background-color: transparent;
      color: #ffffff !important;
      border: none !important;
      outline: none !important;

      & + span > svg {
        color: #999999;
      }
    }
  }
}

[data-radix-popper-content-wrapper] {
  & > div {
    background-color: #08070e !important;
    border: 1px solid #282d43;
    box-shadow:
      0px 2px 20px 0px #00000066,
      0px 0px 4px 0px #00000040;
    color: #ffffff !important;
    border-radius: 6px;

    & > .mly-bg-white {
      background-color: transparent;
      border: none;

      & .react-colorful {
        & + input {
          border: 1px solid #282d43 !important;
          border-radius: 6px;
        }
      }
    }

    * {
      box-shadow: none !important;
    }

    button {
      &:not(.mly-editor) {
        &:hover {
          background-color: transparent;
        }

        & > div {
          border: none !important;
          background-color: transparent !important;
        }
      }
      &:hover {
        background-color: #202436;
        color: #ffffff !important;
      }

      &.mly-text-rose-800 {
        color: #ffffff !important;
        background-color: #202436 !important;
      }

      &[data-state='true'] {
        background-color: #202436;
      }

      & + [data-radix-popper-content-wrapper] > div {
        background-color: #08070e;
        color: #ffffff !important;
        border-color: #282d43;
        box-shadow: none !important;
      }

      &.mly-bg-red-100 {
        background-color: transparent !important;
        color: #f55a76 !important;

        svg {
          color: #f55a76 !important;
        }

        &:hover {
          background-color: #2e0d18 !important;
        }
      }
    }

    .mly-bg-gray-200 {
      background-color: #282d43;
    }

    svg {
      color: #e6e6e6;

      .mly-stroke-midnight-gray {
        stroke: #e6e6e6;
      }
    }

    select,
    input {
      background-color: transparent;
      color: #ffffff !important;
      border: none !important;
      outline: none !important;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      & + span > svg {
        color: #999999;
      }
    }
  }
}
