@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Base */
@import './fonts.css';
@import './global.css';
@import './grid-gap.css';
@import './code-highlighting.css';
@import './text-highlighting.css';

/* Components */
@import './container.css';
@import './content.css';
@import '../components/shared/input-range/input-range.css';
@import '../components/pages/timeline/timeline/timeline.css';

/* Utilities */
@import './border-gradient.css';
@import './remove-autocomplete-styles.css';
@import './safe-paddings.css';
@import './scrollbar-hidden.css';
@import './skeleton.css';

@import './hubspot-banner.css';
