@layer components {
  .masonry {
    /* NOTE: you need to set fixed height to the element */
    @apply flex;

    flex-flow: column wrap;
    align-content: space-between;

    @media (max-width: 767px) {
      flex-flow: column;
    }
  }
}
