@layer base {
  .text-highlighting-colorful-gradient {
    span {
      background: linear-gradient(
        269.17deg,
        #ffff00 0%,
        #ffbb33 25.67%,
        #e300bd 53.5%,
        #ff006a 93.01%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-highlighting-secondary-2-gradient {
    span {
      background: linear-gradient(180deg, #ffe14d 38%, rgba(255, 225, 77, 0.7) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-highlighting-blue-gradient {
    span {
      background: linear-gradient(91.72deg, #ffe27d 2.21%, #64e3ff 47.11%, #9092ff 94.91%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-highlighting-gray-gradient {
    span {
      background: linear-gradient(180deg, #ffffff 0%, #dedede 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-highlighting-gray-light-gradient {
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
