.banner-text {
  @apply text-center text-base sm:text-sm;

  span {
    @apply text-xl font-bold sm:text-base;
    background: linear-gradient(180deg, #ffe14d 38%, rgba(255, 225, 77, 0.7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
